# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist/

# Ignore generated WebP images (created by scripts/optimize-images.js)
Images/**/*.webp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*